<div class="flex items-center justify-center h-screen">
<div class="p-2 font-mono bg-orange-200 w-1/4 mt-20 rounded-md border-y-1 border-2 border-orange-400 opacity-70">
<h2 class="font-bold">Welcome <%= current_user.email %> !</h2><br />
<p>On this site can find some interesting information about Mars!
Navigate to navbar and check out the Picture Of The Day, Mars Rover and much more!</p>
</div>