<div class="flex flex-row justify-around">
  <div class="font-mono bg-orange-200 w-1/4 mt-20 rounded-md border-y-1 border-2 border-orange-400 opacity-50">
    <div class="mx-6 my-6">
      <h1 class="font-semibold"><%= @title %>, <%= @date %></h1>
        <%= @description%>
        <p>Come back tomorrow to check new Picture Of The Day! </p>
      </div>
    </div>
    <div class="basis-1/2 mt-20 mb-20">
      <%=image_tag(@url, class: "rounded-md border-y-1 border-2 border-orange-400")%>
  </div>
</div>
