@tailwind base;
@tailwind components;
@tailwind utilities;

#pic_of_the_day.active,
#mars_weather.active {
  color: #fed7aa;
}
li {
  list-style: none;
}
.actions:hover {
  cursor: pointer!important;
}

.flash-message {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  animation: fade-out 3s forwards;
}
@keyframes fade-out {
    0%   {opacity: 1;}
    90%  {opacity: 1;}
    100% {opacity: 0;}
}